/* LAPTOP-НОУТБУК  */
@media (max-width: 1200px) {
}

/* МИНИ -НОУТБУК */
@media (max-width: 992px) {
}

/* ПЛАНШЕТ */
@media (max-width: 768px) {
  .header-right {
    display: none;
  }
  .header-link {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .hero {
    display: flex;
    flex-direction: column;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
}

/* телефон  */
@media (max-width: 480px) {
}

/* маленькие девайсы  */
@media (max-width: 320px) {
}
